In [1]:
import pandas as pd
import numpy as np

## This notebook processes input hobert file and outputs the validation dataframe

In [2]:
df = pd.read_csv('markerhobertetal.csv', sep='\t')
/print df.shape
display(df.head())

(302, 145)

,Neuron class,Class member,Lineage,Neurotransmitter identity,"Reporter transgene expressed in this cell (based on manually curated Wormbase dataset as of July 15th, 2016)",Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 135,Unnamed: 136,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144
0,ADA,ADAL,AB.plapaaaapp,Glu,cam-1,eat-4,che-7,inx-19,ncr-1,unc-9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,ADAR,AB.prapaaaapp,Glu,cam-1,eat-4,che-7,inx-19,ncr-1,unc-9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADE,ADEL,AB.plapaaaapa,DA,bbs-1,bbs-2,bbs-8,osm-12,asic-1,atat-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,ADER,AB.prapaaaapa,DA,bbs-1,bbs-2,bbs-8,osm-12,asic-1,atat-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ADF,ADFL,AB.alpppppaa,Ach,acc-4,bbs-1,bbs-2,bbs-8,osm-12,aho-3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
geneColumns = df.columns[4:]
genes = df[geneColumns].values.reshape(-1)
genes = [i for i in genes if str(i) != 'nan']
genes = np.unique(genes)
print(f"Found {len(genes)} unique genes")

Found 967 unique genes

In [4]:
neurons = []
prevNeuron = df['Neuron class'].values[0]
neurons.append(prevNeuron)
for n in df['Neuron class'].values[1:]:
    if str(n) != 'nan':
        prevNeuron = n 
    neurons.append(prevNeuron)
df['class'] = neurons
df[['Neuron class', 'class']]

    Neuron class class
0            ADA   ADA
1            NaN   ADA
2            ADE   ADE
3            NaN   ADE
4            ADF   ADF
5            NaN   ADF
6            ADL   ADL
7            NaN   ADL
8            AFD   AFD
9            NaN   AFD
10           AIA   AIA
11           NaN   AIA
12           AIB   AIB
13           NaN   AIB
14           AIM   AIM
15           NaN   AIM
16           AIN   AIN
17           NaN   AIN
18           AIY   AIY
19           NaN   AIY
20           AIZ   AIZ
21           NaN   AIZ
22           ALA   ALA
23           ALM   ALM
24           NaN   ALM
25           ALN   ALN
26           NaN   ALN
27           AQR   AQR
28            AS    AS
29           NaN    AS
..           ...   ...
272           VB    VB
273          NaN    VB
274          NaN    VB
275          NaN    VB
276          NaN    VB
277          NaN    VB
278          NaN    VB
279          NaN    VB
280          NaN    VB
281          NaN    VB
282          NaN    VB
283           VC    VC
284          NaN    VC
285          NaN    VC
286          NaN    VC
287          NaN    VC
288          NaN    VC
289           VD    VD
290          NaN    VD
291          NaN    VD
292          NaN    VD
293          NaN    VD
294          NaN    VD
295          NaN    VD
296          NaN    VD
297          NaN    VD
298          NaN    VD
299          NaN    VD
300          NaN    VD
301          NaN    VD

[302 rows x 2 columns]

In [5]:
df = df[np.concatenate([['class'], geneColumns])]
df.head()

,class,"Reporter transgene expressed in this cell (based on manually curated Wormbase dataset as of July 15th, 2016)",Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 135,Unnamed: 136,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144
0,ADA,cam-1,eat-4,che-7,inx-19,ncr-1,unc-9,unc-86,srab-12,dkf-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADA,cam-1,eat-4,che-7,inx-19,ncr-1,unc-9,unc-86,srab-12,dkf-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADE,bbs-1,bbs-2,bbs-8,osm-12,asic-1,atat-2,bas-1,cam-1,cat-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADE,bbs-1,bbs-2,bbs-8,osm-12,asic-1,atat-2,bas-1,cam-1,cat-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ADF,acc-4,bbs-1,bbs-2,bbs-8,osm-12,aho-3,bas-1,C33A12.4,cat-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Rename gene column names

In [6]:
geneColumns = [f"gene{i}" for i in range(len(geneColumns))]
df.columns = np.concatenate([['class'], geneColumns])
df.head()

,class,gene0,gene1,gene2,gene3,gene4,gene5,gene6,gene7,gene8,...,gene131,gene132,gene133,gene134,gene135,gene136,gene137,gene138,gene139,gene140
0,ADA,cam-1,eat-4,che-7,inx-19,ncr-1,unc-9,unc-86,srab-12,dkf-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADA,cam-1,eat-4,che-7,inx-19,ncr-1,unc-9,unc-86,srab-12,dkf-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADE,bbs-1,bbs-2,bbs-8,osm-12,asic-1,atat-2,bas-1,cam-1,cat-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADE,bbs-1,bbs-2,bbs-8,osm-12,asic-1,atat-2,bas-1,cam-1,cat-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ADF,acc-4,bbs-1,bbs-2,bbs-8,osm-12,aho-3,bas-1,C33A12.4,cat-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
result = pd.DataFrame(columns=np.concatenate([['class'], genes]))
result.head()

Empty DataFrame
Columns: [class, B0207.7, C01H6.9, C03A3.3, C04G2.2, C15C8.4, C16B8.4, C32B5.6, C33A11.2, C33A12.4, C34D4.1, C35D10.12, C39D10.5, C41G7.6 , C45G9.1, C49G9.1, EGAP5.1, F08B4.4 , F08G12.1 , F08G12.8, F16C3.1, F17C11.2, F25B4.2, F32B6.10, F41C3.8, F48E3.8, F49H12.4 , F54E4.4, F55C12.5, F56A8.3, F57H12.7, F58B4.3 , F59B2.13, F59E11.7, H03A11.2 , K05B2.2, K07C11.10, K07C5.9, K10D6.2, K10G6.4, M02B1.2, PVDL, R02E12.4 , R102.2, R10H10.4, R13H7.2, R144.11, T07D1.3, T17H7.1, T19C4.5, T27A3.1, W01B6.2, Y113G7A.15 , Y40C5A.4, Y55D5A.1, Y55F3AM.3, Y60A3A.9, ZC21.3, ZC395.10, ZK757.1, ZK792.1 , ZK856.14 , aak-2, abi-1, abts-1, acc-1, acc-2, acc-4, ace-1, ace-2, ace-3, ace-4, acp-2, acr-14, acr-15, acr-16, acr-18, acr-2, acr-23, acr-5, acy-2, add-1, aex-6, age-1, ags-3, aha-1, aho-3, ahr-1, alh-1, alr-1, ani-1, anoh-2, ant-1.3, ant-1.4, aptf-1, aqp-5, aqp-6, ari-1, arl-13, arl-6, ...]
Index: []

[0 rows x 968 columns]

In [8]:
for c in df['class'].unique():
    classGenes = df[df['class'] == c][geneColumns].values.reshape(-1)
    classGenes = [i for i in classGenes if str(i) != 'nan']
    classGenes = np.unique(classGenes)
    classGenes = np.isin(genes, classGenes).astype(int)
    classGenes = np.concatenate([[c], classGenes])
    result.loc[result.shape[0]] = classGenes
    
#     genes[np.isin(classGenes, geneColumns)]
#     print(f'class {c}, genes : {classGenes}')

In [9]:
result[genes] = result[genes].astype(int)

In [10]:
result.head()

,class,B0207.7,C01H6.9,C03A3.3,C04G2.2,C15C8.4,C16B8.4,C32B5.6,C33A11.2,C33A12.4,...,wrk-1,xrn-2,zig-1,zig-2,zig-3,zig-4,zig-5,zig-8,ztf-3,zyg-8
0,ADA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ADE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ADF,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,ADL,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,AFD,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [12]:
result.to_pickle('data/horbert.pkl')

## Curated input from Patrick

In [ ]:
df = pd.read_csv('../data/genes_patrick.csv')
/print df.shape
display(df.head())

In [ ]:
len(df['predicted neurons'].unique()), df['predicted neurons'].unique()